/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.general-padding {
    padding: 10px 20px;
}

.dis-bl {
    display: block;
}

.wrapper {
    width: 45%;
    font-size: 14px;
    float: left;
}

.wrapper span {
    text-decoration: underline;
}

.space-between {
    justify-content: space-between;
    display: flex;
}

.page-header {
    /* display: flex; */
    font-weight: 600;
    text-transform: capitalize;
}

.font-24 {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}